In [1]:
from clickhouse_driver import Client
import os
import pandas

In [2]:
CLICKHOUSE_HOST=os.getenv("CLICKHOUSE_HOST")
CLICKHOUSE_USERNAME=os.getenv("CLICKHOUSE_USERNAME")
CLICKHOUSE_PASSWORD=os.getenv("CLICKHOUSE_PASSWORD")
client = Client(CLICKHOUSE_HOST, user=CLICKHOUSE_USERNAME, password=CLICKHOUSE_PASSWORD)

# Create distributed table for weatherstation data

In [6]:
client.execute("""CREATE TABLE IF NOT EXISTS `weatherStationObservation_shard` ON CLUSTER `cluster`
(
    `station_id` Int64,
    `measurement_moment` DateTime64(6) CODEC(ZSTD),
    `temperature_ambient` Float64 CODEC(Delta, ZSTD),
    `temperature_ground` Float64 CODEC(Delta, ZSTD),
    `humidity` Float64 CODEC(Delta, ZSTD),
    `pressure` Float64 CODEC(Delta, ZSTD),
    `wind_speed` Float64 CODEC(Delta, ZSTD),
    `precipitation` Float64 CODEC(Delta, ZSTD),
    `irradiance` Float64 CODEC(Delta, ZSTD)
) 
ENGINE = ReplicatedMergeTree(
    '/clickhouse/tables/{shard}/weatherStationObservation_shard',
    '{replica}' )
ORDER BY (station_id, measurement_moment)
PARTITION BY toYYYYMM(measurement_moment) 
""")

client.execute("""
CREATE TABLE IF NOT EXISTS `weatherStationObservation` ON CLUSTER `cluster` AS weatherStationObservation_shard
ENGINE = Distributed(cluster, default, weatherStationObservation_shard, station_id)
""")

[('chi-clickhouse-dataplatform-cluster-2-1', 9000, 0, '', 5, 0),
 ('chi-clickhouse-dataplatform-cluster-1-0', 9000, 0, '', 4, 0),
 ('chi-clickhouse-dataplatform-cluster-0-0', 9000, 0, '', 3, 0),
 ('chi-clickhouse-dataplatform-cluster-1-1', 9000, 0, '', 2, 0),
 ('chi-clickhouse-dataplatform-cluster-2-0', 9000, 0, '', 1, 0),
 ('chi-clickhouse-dataplatform-cluster-0-1', 9000, 0, '', 0, 0)]

# Receive data from Kafka for weatherstation data

In [ ]:
KAFKA_BOOTSTRAP_HOST = os.getenv("KAFKA_BOOTSTRAP_HOST")

client.execute(f"""CREATE TABLE IF NOT EXISTS default.weatherStationObservation_kafka ON CLUSTER `cluster`
(
    `station_id` Int64,
    `measurement_moment` DateTime64(6),
    `temperature_ambient` Float64,
    `temperature_ground` Float64,
    `humidity` Float64,
    `pressure` Float64,
    `wind_speed` Float64,
    `precipitation` Float64,
    `irradiance` Float64
)
ENGINE = Kafka('{KAFKA_BOOTSTRAP_HOST}:9092', 'weather-station-observation', 'clickhouse', 'JSONEachRow') 
SETTINGS kafka_thread_per_consumer = 0, kafka_num_consumers = 1;
""")

client.execute("""CREATE MATERIALIZED VIEW IF NOT EXISTS default.weatherStationObservation_kafka_mv ON CLUSTER `cluster` 
TO weatherStationObservation_shard AS
SELECT * FROM default.weatherStationObservation_kafka;
""")

# Connect weatherstation metadata from postgreSQL database

In [6]:
POSTGRES_HOST=os.getenv("POSTGRES_HOST_R")
POSTGRES_USERNAME=os.getenv("POSTGRES_USERNAME")
POSTGRES_PASSWORD=os.getenv("POSTGRES_PASSWORD")

client.execute(f"""
CREATE TABLE IF NOT EXISTS WeatherStation_postgres ON CLUSTER `cluster`
(
    `id` Int64,
    `station_name` String,
    `lat` Float64,
    `lon` Float64
) ENGINE = PostgreSQL('{POSTGRES_HOST}', 'app', 'weather_station', '{POSTGRES_USERNAME}', '{POSTGRES_PASSWORD}');
""")

[('chi-clickhouse-dataplatform-cluster-1-1', 9000, 0, '', 5, 0),
 ('chi-clickhouse-dataplatform-cluster-0-0', 9000, 0, '', 4, 0),
 ('chi-clickhouse-dataplatform-cluster-2-1', 9000, 0, '', 3, 0),
 ('chi-clickhouse-dataplatform-cluster-1-0', 9000, 0, '', 2, 0),
 ('chi-clickhouse-dataplatform-cluster-2-0', 9000, 0, '', 1, 0),
 ('chi-clickhouse-dataplatform-cluster-0-1', 9000, 0, '', 0, 0)]

In [10]:
data, cols = client.execute("SELECT * FROM WeatherStation_postgres", with_column_types=True)
pandas.DataFrame(data, columns=[col_name for col_name, _ in cols])

    id  station_name      lat      lon
0    1          Oslo  59.9133  10.7389
1    2        Bergen  60.3894   5.3300
2    3     Stavanger  58.9700   5.7314
3    4       Sandnes  58.8517   5.7361
4    5     Trondheim  63.4297  10.3933
5    6      Sandvika  59.8833  10.5167
6    7  Kristiansand  58.1472   7.9972
7    8       Drammen  59.7378  10.2050
8    9         Asker  59.8331  10.4392
9   10      Tønsberg  59.2981  10.4236
10  11         Skien  59.2081   9.5528
11  12          Bodø  67.2827  14.3751
12  13       Ålesund  62.4740   6.1582
13  14          Moss  59.4592  10.7008
14  15       Arendal  58.4608   8.7664
15  16     Lørenskog  59.8989  10.9642
16  17        Tromsø  69.6828  18.9428
17  18     Haugesund  59.4464   5.2983
18  19         Molde  62.7375   7.1591
19  20         Askøy  60.4667   5.1500
20  21         Hamar  60.7945  11.0679
21  22      Oppegård  59.7925  10.7903
22  23         Rygge  59.3747  10.7147
23  24     Steinkjer  64.0148  11.4954
24  25     Randaberg  59.0017   5.6153
25  26    Lommedalen  59.9500  10.4667
26  27         Barbu  58.4664   8.7781
27  28        Tiller  63.3550  10.3790
28  29       Kolbotn  59.8112  10.8000
29  30    Lillestrøm  59.9500  11.0833